# This is so messy
# Refactor Later™️

NODE_ID=DO_NOT_USE_ITS_NOT_IN_USE_BUT_MAYBE_LATER_ON_IDK_YET
SHARD_MANAGER_URL=DO_NOT_USE_ITS_NOT_IN_USE_BUT_MAYBE_LATER_ON_IDK_YET
JWT_SECRET=DO_NOT_USE_ITS_NOT_IN_USE_BUT_MAYBE_LATER_ON_IDK_YET
REGISTER_KEY=DO_NOT_USE_ITS_NOT_IN_USE_BUT_MAYBE_LATER_ON_IDK_YET
regionID=MM1 # For CentralMonServer, This is the country code for the region, e.g., MM1 for Myanmar.
mongodb="mongodb://localhost/netgoat"
NS=# List of Name Servers, e.g., ns1.duckeydev.me,ns2.duckeydev.me | Not implemented yet
host=# The primary host for the service, e.g., ns1.duckeydev.me | Not implemented yet
Central_server=http://localhost:1933 # The URL of the CentralMonServer instance
Central_JWT=# This is the JWT for the CentralMonServer instance, used for authentication
SHARED_JWT_SECRET=1ef6a115e9e6c2282f017a538219ee7cb5174f8d25e4a1c1fe7410d59e158ff6 