<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating UI Admin Panel</title>
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
  </head>
  <body class="relative h-screen w-screen bg-cover bg-center" style="background-image: url('http://localhost:3333/assets/img/bg_dark.jpg')">
    
    <!-- overlay -->
    <div class="absolute inset-0 backdrop-blur-xl bg-[#515151]/45 z-10 flex items-center justify-center">
      <h1 class="text-white text-4xl font-bold">Floating UI Panel</h1>
    </div>

  </body>
</html>
